* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

body {
  padding: 1vmax;
  color: #cccccc;
  background-color: #222222;
}

li {
  list-style-type: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-height: 100vh;
  max-width: 100%;
  gap: 20px;
}

.garage-list-item {
  border-bottom: 2px dashed #cccccc;
}

.garage-list-item-race {
  display: flex;
  align-items: start;
}

.garage-list-item-car-image {
  width: 50px;
  height: 50px;
}

.btn {
  padding: 5px;
  min-width: fit-content;
  font-size: 16px;
  text-transform: uppercase;
}

@keyframes slidein {
  from {
      margin-left: 0%;
  }
  to {
      margin-left: 100%;
  }
}